<!DOCTYPE html>
<html lang="en">
<head>
  <title>Automated Product Tagging</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/9b31ab4365.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type= "text/css" href="static/styles/style.css">
</head>
<body>


<div class="jumbotron text-center">
  <h1>Automated Product Tagging</h1>
    <p>Using machine learning and TFIDF-Vectorizer</p> 
    <br><form action = "http://localhost:5000/generated" method = "POST">
      <p><button>Go to the Product Tagging Algorithm</button></p>
    </form>
</div>

  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Step 1 <i class="fa fa-database" aria-hidden="true"></i></h3> 
      <p>The user can either upload a <b>CSV file</b> containing data with the columns <b>product name</b> and <b>product description</b>, or try and fill in the box below with some lines of text</p>
    </div>
    <div class="col-sm-4">
      <h3>Step 2 <i class="fa fa-hand-o-up" aria-hidden="true"></i></h3>
      <p>Let the user simply click on the <b>predict</b> button</p>
    </div>
    <div class="col-sm-4">
      <h3>Step 3 <i class="fa fa-file" aria-hidden="true"></i></h3>        
      <p>The <i><b>machine learning model </b></i> will start generating tags based on the input file or text</p>
    </div>
  </div>
</div>


<div class="jumbotron text-center">
    <h2>Getting Started</h2>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 col-md-offset-3 column">
                <form action="http://127.0.0.1:5000/predict" method="POST">
                    <textarea class="form-control rounded-0" name="description" required=required placeholder="Product description" id="exampleFormControlTextarea2" rows="5"></textarea>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLangHTML", name='user_input_file'>
                      <label class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen"></label>
                    </div>
                    <br>
                    <button type="submit">Predict</button>
                </form>
                <br>
                {{ generated_tags }}
            </div>
        </div>
    </div>
</div>
</body>
</html>