<!DOCTYPE html>
<html lang="en">
<head>
  <title>Automated Product Tagging</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/9b31ab4365.js" crossorigin="anonymous"></script>
  <script src="js/index.js"></script> 
</head>
<body>

<div class="jumbotron text-center">
  <h1>Automated Product Tagging</h1>
  <p>Using machine learning and TFIDF-Vectorizer</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Step 1 <i class="fa fa-database" aria-hidden="true"></i></h3> 
      <p>The user can either upload a CSV file containing data with the columns product name and product description, or try and fill in the box below with some lines of text</p>
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
    </div>
    <div class="col-sm-4">
      <h3>Step 2 <i class="fa fa-hand-o-up" aria-hidden="true"></i></h3>
      <p>Let the user simply click on the predict button</p>
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
    </div>
    <div class="col-sm-4">
      <h3>Step 3 <i class="fa fa-file" aria-hidden="true"></i></h3>        
      <p>The machine learning model will start generating tags based on the input file or text</p>
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
    </div>
  </div>
</div>

<div class="jumbotron text-center">
    <h2>Getting Started</h2>
    <!-- <div class="form-group row">
        <div class="form-group">
          <label for="ex3">Put in your text here</label>
          <input class="form-control" id="ex3" type="text">
        </div>
        <div class="form-group">
            <label for="exampleInputFile"> or choose a file</label><input type="file" id="exampleInputFile" />
          </div>
    </div>
    -->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 col-md-offset-3 column">
                <form action="http://127.0.0.1:5000/predict" method="POST">
                    <!-- <div class="form-group"> -->
                      <!-- <label for="exampleFormControlTextarea1">Text input</label> -->
                    <input type="text" name="description" placeholder="Product description" required=required />

                    <button type="submit">Predict</button>
                      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                      <input type="submit"> -->
                    <!-- </div> -->
                    <!-- <div class="form-group">
                         <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" /> -->
                    <!-- </div> -->
                    <!-- <button class="btn btn-success" id="predict_tags">Predict</button> -->
                </form>
                <br>
                {{ generated_tags }}
            </div>
        </div>
</div>
</body>
</html>